<h2>Dashboard</h2>

<div class="User-Dashboard">
    <mat-grid-list cols ="3" rowHeight="100px">
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>Users</mat-card-subtitle>
                <mat-card-title>5</mat-card-title>
             </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>Users</mat-card-subtitle>
                <mat-card-title>5</mat-card-title>
             </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>Users</mat-card-subtitle>
                <mat-card-title>5</mat-card-title>
             </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>


   

